<h2>All Historical Landmarks</h2>

<!-- add content here -->

<% @landmarks.all.each do |landmark| %>
  <br></br>
  <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>
  <%= landmark.year_completed %>
<% end %>

  <br></br>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
